<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/firstprogram1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# variables

In [ ]:
print("hello world")

hello world

In [ ]:
print("my name is leo bezlel.")
print("my age is 22")

my name is leo bezlel.
my age is 22

In [ ]:
print("my name is leo bezlel","my age is 22")

my name is leo bezlel my age is 22

In [ ]:
print(22)

22

In [ ]:
print(18+4)

22

In [ ]:
name="leo"
print(name)

leo

In [ ]:
age=23
print(age)

23

In [ ]:
name = "leo"
age = 22
price = 22.45
print("my name is:",name)
print("my age is:", age)
print("price of a toothbrush:",price)

my name is: leo
my age is: 22
price of a toothbrush: 22.45

# Data types

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
print(type(price))

<class 'float'>

In [ ]:
old=False
print(type(old))

<class 'bool'>

In [ ]:
age = 23
old = False
a = None
print(type(age))
print(type(old))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

# print sum

In [ ]:
 a=1
 b=3
 sum=a+b
 print(sum)

4

In [ ]:
a=1
b=3
sum=a*b
print(sum)

3

In [ ]:
a=1
b=3
sum=a-b
print(sum)

-2

In [ ]:
a=20
b=10
c=5
sum = a+b*c
print(sum)

70

# Types of tokens

In [ ]:
a = 2
b = 3
txt = "@"
print(a*txt*b)

@@@@@@

In [ ]:
a = "2"
b = 3
txt = "@"
print((a+txt)*b)

2@2@2@

# Inputs in python

In [ ]:
name = str(input("name:"))

name:bezlel

In [ ]:
print(name)

bezlel

In [ ]:
age = int(input("age:"))

age:26

In [ ]:
print(age)

26

In [ ]:
price = float(input("price:"))

price:26

In [ ]:
print(price)

26.0

In [ ]:
print(type(not True and False or True ))

<class 'bool'>

# practice questions
# 1)

In [ ]:
#write a program to input 2 numbers and print their sum?
num1 = int(input("first number:"))
num2 = int(input("second number:"))
sum = num1+num2

first number:280
second number:20

In [ ]:
print(sum)

300

# 2)

In [ ]:
#write a program to input side of a square and print its area?
side_length = int(input("Enter the side_length of the square: "))

Enter the side_length of the square: 6

In [ ]:
area = 6**2

In [ ]:
print("The area of the square with side length", side_length, "is:", area)

The area of the square with side length 6 is: 36

# 3)

In [ ]:
#write a program to input 2 floating numbers and print their average?
num1 = float(input("enter first number:"))
num2 = float(input("enter second number:"))
average = (num1+num2)/2

enter first number:25
enter second number:5

In [ ]:
print(average)

15.0

# 4)

In [ ]:
#write a program to input 2 integer numbers, a and b. print True if a is greater than or equal to b. if not print False?
A = int(input("enter first number:"))
B = int(input("enter second number:"))

enter first number:20
enter second number:89

In [3]:
A = 20
B = 89
print(A >= B)

False