<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/Lecture4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary in python

In [43]:
info = {
    "name" : "leo",
    "learning" : "python",
    "age" : 22,
    "is adult" : True,
    "grade" : 76.42,
}

print(info)

{'name': 'leo', 'learning': 'python', 'age': 22, 'is adult': True, 'grade': 76.42}

In [44]:
info = {
    "name" : "leo",
    "learning" : ["python", "java", "c++"],
    "age" : 22,
    "is adult" : True,
    "grade" : 76.42
}
info["name"] = "bezlel" #we can change accordingly also known as Overwrite
print(info)
print(type(info))

{'name': 'bezlel', 'learning': ['python', 'java', 'c++'], 'age': 22, 'is adult': True, 'grade': 76.42}
<class 'dict'>

In [45]:
#nested dictionary
student = {
      "name": "leo",
       "marks_scored" : {"math" : 95.0,
                         "phy" : 92,
                         "chem" : 87
                     },
}
print(student)

{'name': 'leo', 'marks_scored': {'math': 95.0, 'phy': 92, 'chem': 87}}

In [46]:
print(student["marks_scored"]["phy"])

92

# Dictionary methods

In [47]:
info = {
    "name" : "leo",
    "learning" : "python",
    "age" : 22,
    "is adult" : True,
    "grade" : 76.42,
}

print(info.keys()) #return all keys

dict_keys(['name', 'learning', 'age', 'is adult', 'grade'])

In [48]:
print(info.values()) #return all values

dict_values(['leo', 'python', 22, True, 76.42])

In [49]:
print(info.items()) #return all (key,value) pairs as tuples

dict_items([('name', 'leo'), ('learning', 'python'), ('age', 22), ('is adult', True), ('grade', 76.42)])

In [50]:
print(info.get("name")) #returns the key according to value

leo

# set in python

In [51]:
collection = {1,2,4,5,3,2,"leo","world","leo","hello"} #repeated elements stored only once
print(collection)
print(type(collection))
print(len(collection))

{1, 2, 3, 4, 5, 'hello', 'world', 'leo'}
<class 'set'>
8

In [52]:
collection.add("bezlel") #adds an element
print(collection)

{1, 2, 3, 4, 5, 'hello', 'world', 'bezlel', 'leo'}

In [53]:
collection.remove(1) #removes the element
print(collection)

{2, 3, 4, 5, 'hello', 'world', 'bezlel', 'leo'}

In [54]:
collection = set() #empty set
collection.add(1)
collection.add(3)
collection.add(2)
collection.add(1)

collection.remove(2)
print(collection)

{1, 3}

In [57]:
collection = {1,2,4,5,3,2,"leo","world","leo","hello"}

collection.clear() #empties the set
print(collection)

set()

In [65]:
collection = {1,2,4,5,3,2,"leo","world","leo","hello"}
print(collection.pop()) #removes a random value

1

In [64]:
collection = {"leo","bezlel","world","leo"}
print(collection.pop())

world

In [68]:
collection1 = {1,2,3,4}
collection2 = {4,5,6,7}


print(collection1.union(collection2)) #combines both set values and returns new

{1, 2, 3, 4, 5, 6, 7}

In [71]:
collection1 = {1,2,3}
collection2 = {3,4,5}

print(collection1.intersection(collection2)) #combines common values and returns new

{3}

# practice questions

# Q1)

In [75]:
#store following word meanings in a python dictionary:
# cat : "a small animal"
# table : "a piece of furniture","list of facts and figures"
dictionary = {
    "cat" : "a small animal",
    "table" : ["a piece of furniture","list of facts and figures"]
}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts and figures']}

# Q2)

In [78]:
#you are given a list of subjects for students. assume one classroom is required for 1 subject
#how many classrooms are needed by all students.

set_of_subjects = {"python","java","c++","python",
                   "javascript","java","python",
                   "java","c++","c"

                   }

print(len(set_of_subjects))

5

# Q3)

In [88]:
#WAP to enter marks of 3 subjects from the user and store them in a dictionary.
#start with an empty dictioanry and add one by one. use subject name as key and marks as value

marks ={}

x = int(input("enter phy:"))
y = int(input("enter chem:"))
z = int(input("enter math:"))

enter phy:75
enter chem:90
enter math:95

In [90]:
marks.update({"phy:": x})
marks.update({"chem:": y})
marks.update({"math:": z})

print(marks)

{'phy:': 75, 'chem:': 90, 'math:': 95}

# Q4)

In [91]:
#Figure out a way to store 9 & 9.0 as seperate values in a set.
#(you can take help of built in data types)

values = {
    "float":9.0,
    "int":9
}
print(values)

{'float': 9.0, 'int': 9}