<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/Lecture_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOPS in python (part-1)

In [20]:
#class & object in python

class student:     #creating class
    name = "leobezlel"
    age = 20
    rollno = 25

s1 = student()    #creating object
print(s1.name)
print(s1.age)
print(s1.rollno)

leobezlel
20
25

In [21]:
class car:
    brand = "TATA"
    color = "black"
    model = 2024

c1 = car()
print(c1.brand)
print(c1.color)
print(c1.model)

TATA
black
2024

# _ _init_ _ function

In [22]:
class student:

    def __init__(self,name):
        self.name = name

s1 = student("leobezlel")
print(s1.name)

leobezlel

In [23]:
class student:


    def __init__(self,name,age,rollno,marks): #creating class
        self.name = name
        self.age = age
        self.rollno = rollno
        self.marks = marks

s1 = student("leobezlel",20,25,91) #creating object
print(s1.name)
print(s1.age)
print(s1.rollno)
print(s1.marks)

s2 = student("somu",21,26,76)
print(s2.name)
print(s2.age)
print(s2.rollno)
print(s2.marks)

leobezlel
20
25
91
somu
21
26
76

In [24]:
class student:

    #default constructor
    def __init__(self):
        pass

    #parameterized constructor
    def __init__(self,name,age,rollno):
        self.name = name
        self.age = age
        self.rollno = rollno

s1 = student("vasu",21,30)
print(s1.name, s1.age, s1.rollno)

vasu 21 30

In [25]:
class cars:
    def __init__ (self,name,model,color):
        Brand = "SUZUKI"
        print(Brand)
        self.name = name
        self.model = model
        self.color = color

c1 = cars("swift",2022,"black")
print(c1.name,c1.model,c1.color)

c2 = cars("scross",2023,"blue")
print(c2.name,c2.model,c2.color)

SUZUKI
swift 2022 black
SUZUKI
scross 2023 blue

# Methods

In [26]:
class student:
    def __init__(self,name,age,rollno):
        self.name = name
        self.age = age
        self.rollno = rollno

    def welcome(self):
        print("welcome student",self.name)
        print("your age is",self.age)
        print("your roll no is",self.rollno)

s1 = student("leobezlel",20,25)
s1.welcome()

welcome student leobezlel
your age is 20
your roll no is 25

# Practice questions

In [27]:
#1) create student class that takes name & marks of 3 subjects as arguments in constructor. Then create a method to print the average
class student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks

    def average(self):
        sum = 0
        for i in self.marks:
            sum += i
        print("Hi", self.name, "your average score is",sum/3)

s1 = student("leobezlel",[91,92,93])
s1.average()

Hi leobezlel your average score is 92.0

# Static methods

In [28]:
class student:

    def __init__(self,name):
        self.name = name

    @staticmethod
    def age():
        print(22)

s1 = student("leobezlel")
print(s1.name)
s1.age()

leobezlel
22

# Practice questions

In [29]:
#3)create Account class with 2 attributes - balance and account no.

class Account:
    def __init__(self,balance,account_no):
        self.balance = balance
        self.account_no = account_no

acc1 = Account(5350, 60201258670)
print(acc1.account_no)
print(acc1.balance)

60201258670
5350

In [30]:
#4)create methods for debit, credit & printing the balance.

class Account:
    def __init__(self,balance,account_no):
        self.balance = balance
        self.account_no = account_no

    def debit(self, amount):
        self.balance -= amount
        print("RS.", amount, "was debited")
        print("Total balance =",self.balance)

    def credit(self, amount):
        self.balance += amount
        print("RS.", amount, "was credited")
        print("Total balance =",self.balance)

acc1 = Account(5350, 60201258670)
acc1.debit(1000)
acc1.credit(2000)

RS. 1000 was debited
Total balance = 4350
RS. 2000 was credited
Total balance = 6350

# OOPS in python (part-2)

# private(like) attributes & methods

In [31]:
class account:

    def __init__(self, acc_no, acc_pass):
        self.acc_no = acc_no
        self.acc_pass = acc_pass

acc1 = account("987654321", "leo@12345")
print(acc1.acc_no)
print(acc1.acc_pass)

987654321
leo@12345

In [32]:
class person:

    def __hello(self):
        print("hello")

    def welcome(self):
        self.__hello()

p1 = person()

print(p1.welcome())

hello
None

In [33]:
class car:

    def __Brand(self):
        print("TATA indica")

    def car(self):
        self.__Brand()

c1 = car()

print(c1.car())

TATA indica
None

# Inheritance

In [34]:
# Single inheritance

class car:  #parent class
    color = "red"

    @staticmethod
    def start():
        print("car started")

    @staticmethod
    def stop():
        print("car stopped")

class toyotacar(car):   #child class
     def __init__(self,name):
        self.name = name

c1 = toyotacar("fortuner")
c2 = toyotacar("prius")

print(c1.name)
print(c1.start())
print(c1.color)

fortuner
car started
None
red

In [35]:
# Multi-level inheritance

class car:  #parent class
    color = "red"

    @staticmethod
    def start():
        print("car started")

    @staticmethod
    def stop():
        print("car stopped")

class toyotacar(car):   #child class / parent class
     def __init__(self,brand):
        self.brand = brand

class fortuner(toyotacar):  #grandchild class / child class
    def __init__(self,type):
        self.type = type

c1 = fortuner("petrol")
print(c1.start())
print(c1.type)

car started
None
petrol

In [36]:
# Multiple inheritance

class A:
    varA = "welcome to class A"

class B:
    varB = "welcome to class B"

class C(A, B):
    varC = "welcome to class C"

c1 = C()
print(c1.varC)
print(c1.varB)
print(c1.varA)

welcome to class C
welcome to class B
welcome to class A

# Super methods

In [37]:
class car:  #parent class
    def __init__ (self,type):
        self.type = type

    @staticmethod
    def start():
        print("car started")

    @staticmethod
    def stop():
        print("car stopped")

class toyotacar(car):   #child class
     def __init__(self,name,type):
        self.name = name

        super(). __init__(type) #super method
        super().start()

c1 = toyotacar("forutuner","electric")
print(c1.type)

car started
electric

# class method

In [38]:
class person:
    name = "leobezlel"
    age = 20

    @classmethod
    def welcome(cls):
        print("welcome",cls.name)
        print("your age is",cls.age)

    def changeName(self,name):
        self.name = name

p1 = person()
p1.changeName("somu")
print(p1.name)
print(person.name)
print(p1.age)

somu
leobezlel
20

In [39]:
class person:
    name = "anonymous"

    @classmethod
    def changeName(cls, name):
        cls.name = name

p1 = person()
p1.changeName("leo")
print(p1.name)

leo

# property

In [43]:
class student:
    def __init__(self, phy, chem, math):
        self.phy = phy
        self.chem = chem
        self.math = math

    @property
    def percentage(self):
        return str((self.phy + self.chem + self.math) / 3) + "%"

s1 = student(82, 86, 94)
print(s1.percentage)

stu1.phy = 92
print(stu1.percentage)

87.33333333333333%
97.0%

# polymorphism

In [56]:
class complex:
    def __init__(self, real, img):
        self.real = real
        self.img = img

    def shownumber(self):
        print(self.real,"i +", self.img,"j")

    def __add__(self, num2):  #dunder function
        newReal = self.real + num2.real
        newimg = self.img + num2.img
        return complex(newReal, newimg)

num1 = complex(1,4)
num1.shownumber()

num2 = complex(5,3)
num2.shownumber()

num3 = num1 + num2
num3.shownumber()

1 i + 4 j
5 i + 3 j
6 i + 7 j

# practice questions

In [66]:
#1) define a circle class to create a circle with radius r using the constructor.

class circle:
    def __init__(self,r):
        self.r = r

c1 = circle(21)
print(c1.r)

21

In [65]:
#2)define an area() method of the class which calculates the area of the circle.

class circle:
    def __init__(self,r):
        self.r = r

    def area(self):
        return 3.14 * self.r * self.r

c1 = circle(21)
print(c1.area())

1384.74

In [64]:
#3)define a perimeter() method of the class hich allows you to calculate the perimeter of the circle.

class circle:
    def __init__(self,r):
        self.r = r

    def perimeter(self):
        return 2 * 3.14 * self.r

c1 = circle(21)
print(c1.perimeter())

131.88

In [68]:
#4)define a employee class with attributes role, department & salary. this class also has a showdetails() method.

class employee:
    def __init__(self,role,department,salary):
        self.role = role
        self.department = department
        self.salary = salary

    def showdetails(self):
        print("role:",self.role)
        print("department:",self.department)
        print("salary:",self.salary)

e1 = employee("Accountant","finance",50000)
e1.showdetails()

role: Accountant
department: finance
salary: 50000

In [79]:
#5)create an engineer class that inherits properties from employee & has additional attributes : name & age.

class employee:
    def __init__(self,role,department,salary):
        self.role = role
        self.department = department
        self.salary = salary

    def showdetails(self):
        print("role:",self.role)
        print("department:",self.department)
        print("salary:",self.salary)

class engineer(employee):
    def __init__(self,name,age):
        self.name = name
        self.age = age
        super(). __init__("Engineer","artificial intelligence","40,000")

e1 = engineer("leobezlel",22)
print(e1.name)
print(e1.age)
e1.showdetails()

leobezlel
22
role: Engineer
department: artificial intelligence
salary: 40,000

In [85]:
#6) create a class called order which stores item & its price. use dunder function __gt__() to convey that:
# order1 > order2 if price of order1 > price of order2

class order:
    def __init__(self,item, price):
        self.item = item
        self.price = price

    def __gt__(self, ord2): #greater than dunder function
        return self.price > ord2.price

ord1 = order("dairymilkslik", 60)
ord2 = order("\nBingolays", 20)

print(ord1 > ord2)

True