<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/Lecture_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
#function definition
def calc_sum(a, b): #function parameters;(a, b)
    sum = a + b
    print(sum)
    return sum
calc_sum(1, 2)

3

3

In [ ]:
def calc_sum(a, b): #parameters;(a, b)
    return a + b
sum = calc_sum(1, 78) #funcion call;(1,2)arguments
print(sum)

79

In [ ]:
def calc_sum(a,b,c):
    sum = a - b * c
    print(sum)
    return sum
calc_sum(10,28,56)

-1558

-1558

In [ ]:
def print_hello():
    print("hello")
    print("world")
print_hello()
print_hello()
print_hello()
print_hello()
print_hello()

hello
world
hello
world
hello
world
hello
world
hello
world

In [ ]:
def calc_avg(a, b, c):
    sum = a+b+c
    avg = sum/3
    print(avg)
    return avg
calc_avg(10, 15, 67)

30.666666666666668

30.666666666666668

In [ ]:
def calc_mul(a, b):
    mul = a * b
    print(mul)
    return mul
calc_mul(10,46)

460

460

In [ ]:
def calc_mul(a,b):
    return a*b
mul = calc_mul(10,45)
print(mul)

450

# Practice questions

In [ ]:
#1)WAP to print the length of a list.(list is the parameter)
cities = ["hyderabad","chennai","banglore","mumbai"]
def len_list(cities):
    print(len(cities))
len_list(cities)

4

In [ ]:
#2)WAP to print the elements of a list in a single line.(list is parameter)
anime_series = ["dragon ball","one piece","naruto","bleach"]
places = ["tokyo","roppangi","hosu","kyoto"]
def print_list(list):
    print(anime_series, end = "")
    print(places)
print_list(list)

['dragon ball', 'one piece', 'naruto', 'bleach']['tokyo', 'roppangi', 'hosu', 'kyoto']

In [ ]:
#3)WAP to find the factorial of n. (n is parameter)
n = 5
i = 1
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *=i
    print(fact)
factorial(n)

120

In [ ]:
#4)WAP to convert USD to INR
def usd_to_inr(usd):
  inr = usd * 83
  print(inr)
  return inr
usd_to_inr(6)

498

498

In [ ]:
def usd_to_inr(usd):
    return usd * 83
cal = usd_to_inr(6)
print(cal)

498

# Recursion

In [ ]:
def show(n):
    print(n)
show(5)

5

In [19]:
def show(n):
    if n >= 1:
        print(n)
        show(n-1)
show(5)

5
4
3
2
1

In [25]:
#Recursive function
def show(n):
    if n == 0:
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

In [20]:
def show(n):
    if n == 0:
        return
    show(n-1)
    print(n)
show(5)

1
2
3
4
5

In [21]:
def show(n):
    if n < 0:
        return
    show(n-1)
    print(n)
show(5)

0
1
2
3
4
5

In [35]:
def fact(n):
    if (n ==0 or n ==1):
        return 1
    return fact(n-1)*n
fact(5)

120

# Practice questions

In [42]:
#1)write a recursive function to calculate the sum of first n natural numbers.
def cal_sum(n):
    if n == 0:
        return 0
    return cal_sum(n-1) + n

sum = cal_sum(5)
print(sum)

15

In [45]:
#2)write a recursive function to print all elements in a list.
#hint: use ist & index as paramenters
def print_list(list,idx):
    if idx == len(list):
        return
    print(list[idx])
    print_list(list,idx+1)

list = ["a","b","c","d"]
print_list(list,0)

a
b
c
d