<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lists in python

In [11]:
marks=[89.94, 90.0, 91.2, 86.90, 98.2]
print(type(marks))

<class 'list'>

In [5]:
print(len(marks))

5

In [6]:
print(marks[2])

91.2

In [8]:
print(marks[4])

98.2

In [9]:
student = ["leo", 22, "telangana"]
print(student)

['leo', 22, 'telangana']

In [10]:
student[0] = "bezlel"
print(student)

['bezlel', 22, 'telangana']

In [11]:
print(type(student))

<class 'list'>

In [12]:
print(len(student))

3

# list methods

In [16]:
list = [2,5,8]
list.append(6) #adds one element at the end
print(list)

[2, 5, 8, 6]

In [17]:
list.sort() #sorts in ascending order
print(list)

[2, 5, 6, 8]

In [18]:
list.sort(reverse = True) #sorts in descending order
print(list)

[8, 6, 5, 2]

In [1]:
list = [2,5,8,6]
list.reverse() #reverses list
print(list)

[6, 8, 5, 2]

In [2]:
list = [2,5,8,6]
list.insert(1,3) #insert element at index

In [3]:
print(list)

[2, 3, 5, 8, 6]

In [8]:
list = [2,5,2,8,2]
list.remove(2) #removes first occurence of element
print(list)

[5, 2, 8, 2]

In [9]:
list = [2,5,2,8,2]
list.pop(2) #removees element at index
print(list)

[2, 5, 8, 2]

# Tuples in python

In [22]:
tup = (2,5,2,8,2,)
print(type(tup))

<class 'tuple'>

In [12]:
print(len(tup))

5

In [13]:
print(tup[3])

8

In [21]:
tup = (1,) #(,) is compulsory to identify as a tuple
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [34]:
tuple = [2,5,8,2,8,8,2,5]
tuple.index(8) #returns index of first occurence
print(tuple.index(8))

2

In [30]:
tuple = [2,5,2,8,2]
print(tuple.count(5)) #counts no.of times occures

1

# Practice questions

# Q1)

In [46]:
#write a program to ask the user to enter names of their 3 favorite movies & store them in a list
movies = []
movie1 = input("enter first movie:")
movie2 = input("enter second movie:")
movie3 = input("enter third movie:")

enter first movie:onepiece
enter second movie:naruto
enter third movie:dragonball

In [47]:
movies.append(movie1)
movies.append(movie2)
movies.append(movie3)

print(movies)

['onepiece', 'naruto', 'dragonball']

In [48]:
#Alternative code
movies = []
movies.append(input("enter first movie:"))
movies.append(input("enter second movie:"))
movies.append(input("enter third movie"))

enter first movie:one piece
enter second movie:naruto
enter third moviedragon ball

In [49]:
print(movies)

['one piece', 'naruto', 'dragon ball']

# Q2)

In [71]:
#write a program to check if a list contains a palindrome of elements. (hint: use copy() method).
#[panlidrome = ex:-'maam', 'racecar']
list =[1,2,3,2,1]
copylist = list.copy()
copylist.reverse()

In [72]:
if(copylist == list):
   print("palindrome")
else:
    print("not palindrome")

palindrome

# Q3)

In [77]:
#WAP to count the no.of students with the "A"grade in the following tuple

tuple =["C","D","A","A","B","B","A",]
print(tuple.count("A"))

3

# Q4)

In [82]:
#store the above values in a list and sort them from "A" to "D"
list =["C","D","A","A","B","B","A"]
list.sort()
print(list)

['A', 'A', 'A', 'B', 'B', 'C', 'D']