<a href="https://colab.research.google.com/github/leobezlel/excelr-assignments/blob/main/Lecture_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [1]:
count = 1
while count <=6 :
    print("leo")
    count +=1
    print(count)

leo
2
leo
3
leo
4
leo
5
leo
6
leo
7

In [2]:
i = 1
while i <= 10:
     print("leo",i)
     i +=1

leo 1
leo 2
leo 3
leo 4
leo 5
leo 6
leo 7
leo 8
leo 9
leo 10

In [3]:
i = 5
while i >= 1:
     print(i)
     i-=1

5
4
3
2
1

# Practice questions

In [4]:
#1)print numbers from 1 to 100
i = 1
while i <= 100:
   print(i)
   i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
#2)print numbers from 100 to 1
i = 100
while i >= 1:
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
#3)print the multiplication of a number n
n = 7
i = 1
while i<= 10:
  print(n*i)
  i+=1

7
14
21
28
35
42
49
56
63
70

In [7]:
#4)print the elements of the following list using a loop: num = [1,4,9,16,25,36,49,64,81,100]
num = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(num):
  print(num[idx])
  idx+=1

1
4
9
16
25
36
49
64
81
100

In [20]:
i = 1
while i <= 7:
  print(i)
  if (i == 5):
    break
  i += 1

1
2
3
4
5

In [24]:
i = 1
while i <= 5:
  if (i == 3):
    i += 1
    continue
  print(i)
  i += 1

1
2
4
5

# Loops in python

In [25]:
list = [1,2,3,4,5]
for val in list:
  print(val)

1
2
3
4
5

In [26]:
str = ("leo","bezlel","raj")
for val in str:
  print(val)

leo
bezlel
raj

In [33]:
str = "leobezlel"
for char in str:
  if (char == "z"):
      print("z found")
      break
  print(char)
else:
    print("end")

l
e
o
b
e
z found

# Practice questions
# using for

In [34]:
#6)print the elements of the following loop:
num = [1,4,9,16,25,36,49,64,81,100]
for val in num:
  print(val)

1
4
9
16
25
36
49
64
81
100

In [38]:
#7)Search for a num X in this tuple using loop:
num = (1,4,9,16,25,36,49,64,81,100)
x = 49
for val in num:
  if (val == x):
    print(x,"x found")
    continue
  print(val)

1
4
9
16
25
36
49 x found
64
81
100

# Range

In [44]:
print(range(10))

range(0, 10)

In [40]:
seq = range(10) #stop condition
for i in seq:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
seq = range(2,10) #(start, stop)
for i in seq:
  print(i)

2
3
4
5
6
7
8
9

In [50]:
seq = range(2,10,2) #(start, stop, step)
for i in seq:
  print(i)

2
4
6
8

In [52]:
seq = range(1,10,2) #(start, stop, step)
for i in seq:
  print(i)

1
3
5
7
9

##  Practice using for and range()

In [53]:
#8)print numbers from 1 to 100
seq = range(1,101)
for i in seq:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [55]:
#9)print numbers from 100 t0 1
seq = range(100,0,-1)
for i in seq:
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [56]:
#10)print multiplication table of a num n
seq = range(1,11)
n = 8
for i in seq:
  print(n*i)

8
16
24
32
40
48
56
64
72
80

In [57]:
#11)WAP to find the summ of first n numbers.(using while)

n = 5
sum = 0
i = 1
while i <= n:
  sum += i
  i += 1
print(sum)

15

In [65]:
#12)WAP to find the factorial of first n numbers. (using for)
n = 5
fact = 1
i = 1
for i in range(1,n+1):
  fact *= i
print(fact)

120